.marker-cluster {
	background-clip: padding-box;
	border-radius: 50%;
}
.marker-cluster div {
	
	margin-left: 3px;
	margin-top: 3px;

	text-align: center;
	border-radius: 50%;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #fff;
}

.marker-cluster-small {
	background-color: rgba(202, 255, 191, .5);
}
.marker-cluster-small div {
	width: 30px;
	height: 30px;
	line-height: 30px;
	background-color: rgba(6, 214, 160, .7);
}

.marker-cluster-medium {
	background-color: rgba(253, 255, 128, .5);
}
.marker-cluster-medium div {
	width: 35px;
	height: 35px;
	line-height: 35px;
	background-color: rgba(255, 209, 102, .7);
}

.marker-cluster-large {
	background-color: rgba(255, 173, 173, .5);
}
.marker-cluster-large div {
	width: 50px;
	height: 50px;
	line-height: 50px;
	background-color: rgba(239, 71, 111, .7);
}


